/* =========================================
   TYPOGRAPHY
========================================= */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {

    font-family: "Inter", sans-serif;

    color: var(--text-primary);

    background: var(--background);

    line-height: 1.6;

}

h1 {

    font-size: 2rem;
    font-weight: 700;

}

h2 {

    font-size: 1.6rem;
    font-weight: 600;

}

h3 {

    font-size: 1.2rem;
    font-weight: 600;

}

p {

    color: var(--text-secondary);

}