/* =========================================
   BUTTONS
========================================= */

button {

    cursor: pointer;

    border: none;

    outline: none;

    transition: var(--transition);

}

.btn {

    padding: 14px 22px;

    border-radius: var(--radius-md);

    font-weight: 600;

}

.btn-primary {

    background: var(--primary);

    color: white;

}

body.dark .btn-primary {

    color: black;

}

.btn-primary:hover {

    background: var(--primary-hover);

    transform: translateY(-2px);

}